.sparkline,
.sparkline2 {
    margin: auto;
    height: 100px;
    width: 300px;
}

.navbar {
    margin-bottom: 15px;
}

.alert {
    text-align: center;
}

body {
    background-color: rgba(227, 227, 227, 0.20);
}

.shadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);
}

#tick {
    float: right;
}
.badge.HI {
    background-color: #007bff;
}
.badge.LO {
    background-color: #dc3545;
}
.badge.DO {
    background-color: #f2818c;
}
.badge.UP {
    background-color: #17a2b8;
}